<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="nav-bar actions">
    <%= link_to root_path do %>
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com
        License - https://fontawesome.com/license (Commercial License)
        Copyright 2022 Fonticons, Inc. --><path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
        /></svg>
    <% end %>
    <p>REGISTER</p>

    <%= f.submit "Next", class: 'main-btn with-a' %>

  </div>
  <div class="field">
    <%= f.label :name, class: 'l'  %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name" %>
  </div>

  <div class="field">
    <%= f.label :email, class: 'l'  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'l'  %>
    <% if @minimum_password_length %>
    <em class="l" >(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'l'  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
  </div>
<% end %>
