<%= render partial: "shared/nav_bar", locals: {title: "New transaction", title_amount: nil, back_button_path: group_expense_index_path(params[:group_id])} %>
<%= form_with class: "groups-c form-s", model: @expense, url: "/group/#{params[:group_id]}/expense", method: :post, scope: :expense do |form| %>
  <div class="field">
    <%= form.text_field :name, autocomplete: "name", placeholder: "Expense name" %>
  </div>
  <div class="field">
    <%= form.number_field :amount, autocomplete: "icon", placeholder: "Amount Expended" %>
  </div>
  <%= form.submit "Save", class: 'new-btn', style: 'align-self: center;' %>
<% end %>
