<div class="groups-c">
  <%= render partial: "shared/nav_bar", locals: {title: "Groups", title_amount: nil, back_button_path: group_index_path, right_btn: button_to("logout", destroy_user_session_path, method: :delete, class: "main-btn with-a")} %>
  <div class="inc-exp-container">
        <div class="groups-stats">
          <a id="edit-income" class="float-left"><svg width="34px" height="34px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2322 5.76777C15.2085 4.79146 16.7915 4.79146 17.7678 5.76777L18.4749 6.47487C19.4512 7.45118 19.4512 9.0341 18.4749 10.0104L10.3431 18.1421L7.10051 18.1421C6.54822 18.1421 6.1005 17.6944 6.10051 17.1421L6.10051 13.8995L14.2322 5.76777ZM16.3536 7.18198L17.0607 7.88909C17.2559 8.08435 17.2559 8.40093 17.0607 8.59619L16 9.65685L14.5858 8.24264L15.6464 7.18198C15.8417 6.98672 16.1583 6.98672 16.3536 7.18198ZM14.5858 11.0711L9.51472 16.1421L8.10051 16.1421L8.10051 14.7279L13.1716 9.65685L14.5858 11.0711Z" fill="#3778c2"></path> </g></svg></a>
          <h4>Income</h4>
          <p id="money-plus" class="money plus">+$<%= @income %></p>
          <%= form_with id: "income-form", class: "form-s", url: "/set_income", method: :post do |form| %>
            <%= form.number_field :income %>
            <%= form.submit "Add" %>
          <% end %>
        </div>
        <div>
          <h4>Expenses</h4>
          <p id="money-minus" class="money minus">-$<%= @overall_expenses %></p>
        </div>
  </div>
  <% @groups.each do |group| %>
    <%= link_to group_expense_index_path(group.id), class: "group-container" do %>
      <% if group.image.attached? %>
        <%= image_tag group.image.variant(resize_to_fill: [150, nil]) %>
      <% else %>
        <%= image_tag "expense.svg", alt: 'group of expenses' %>
      <% end %>
      <p>
        <%= group.name %>
      </p>
      <span>Expenses: $
        <%= group.total_expenses %>
      </span>
    <% end %>
  <% end %>
  <%= link_to "Add a new group", new_group_path , class: 'new-btn self-center' %>
</div>


<%# JS %>

<% content_for :javascript do %>
  <script>
    const editButton = document.getElementById("edit-income");
    const form = document.getElementById("income-form");
    const input = document.getElementById("income");

    // Income stats change on submition
    form.addEventListener('submit', () => {
      if(input.value) document.getElementById("money-plus").innerHTML = "+$" + input.value;
    });

    // Edit icon behavior
      // Display/hides input field
    form.style.display = 'none';
    editButton.addEventListener('click', () => {
      if (form.style.display == 'none') {
        form.style.display = 'flex';
        form.style.justifyContent = 'center';
      } else {
        form.style.display = 'none';
      }
    });


  </script>
<% end %>