<div class="groups-c">
  <%= render partial: "shared/nav_bar", locals: {title: "Groups", title_amount: nil, back_button_path: group_index_path, right_btn: button_to("logout", destroy_user_session_path, method: :delete, class: "main-btn with-a")} %>
  <div class="inc-exp-container">
        <div>
          <h4>Income</h4>
          <p id="money-plus" class="money plus">+$0.00</p>
        </div>
        <div>
          <h4>Expenses</h4>
          <p id="money-minus" class="money minus">-$0.00</p>
        </div>
  </div>
  <% @groups.each do |group| %>
    <%= link_to group_expense_index_path(group.id), class: "group-container" do %>
      <% if group.image.attached? %>
        <%= image_tag group.image.variant(resize_to_fill: [150, nil]) %>
      <% else %>
        <p>No image available</p>
      <% end %>
      <p>
        <%= group.name %>
      </p>
      <span>Expenses: $
        <% total = 0 %>
        <% group.expenses.each do |expense| %>
          <% total += expense.amount %>
        <% end %>
        <%= total %>
      </span>
    <% end %>
  <% end %>
  <%= link_to "Add a new group", new_group_path , class: 'new-btn self-center' %>
</div>
